/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.left-panel, .right-panel {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-panel {
    background-color: #ecbd27;
    color: white;
}

.right-panel {
    background-color: white;
}

h2, h3 {
    margin: 0 0 20px;
}

.input-group {
    margin-bottom: 15px;
    width: 100%;
}

.input-group label {
    display: inline-block;
    margin-right: 10px;
}

.input-group input {
    width: calc(100% - 30px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-outline {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary {
    background-color: #ecbd27;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-outline:hover, .btn-primary:hover {
    opacity: 0.8;
}
